@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.sidebar {
  overscroll-behavior: contain;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  scrollbar-gutter: stable;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}